.area {
    padding: 100px;
    /* background-color: blue; */
}

.item-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(190, 185, 175, 1);
    padding: 3rem 6rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) ;
    transition: all 0.5s ease;
}

.item-area:hover {
    transform: scale(1.2);
}

.item-area i {
    color: red;
    font-size: 40px;
}

.item-area h2 {
    margin-top: 15px;
    font-size: 35px;
    font-weight: 800;
    color: #000;
    border: none;
}
