.item {
    position: relative;
    margin: 20px 10px;
    transition: all 0.5;
    overflow: hidden;
    cursor: pointer;
}

.item-layer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.5s;
}

.item:hover .item-layer{
    top: 0;
}

.item-layer p {
    color: #000;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
}

@media screen and (max-width: 980px) {
    
}
