.search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.search input {
    width: 50%;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    border-bottom: 1px solid gray;
    background-color: #000;
    color: var(--font-color);
    text-align: center;
}

.search input:focus , .search input:active {
    border-bottom: 1px solid gray;
    outline: 0;
}

.search i {
    background-color: rgba(188, 188, 24, 1);
    padding: 5px 8px;
    margin: 18px 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.item-random {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}