@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --bg-color: #000;
  --font-family: "Lato", sans-serif;
  --font-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);

}

span {
  color: #336666 !important;
}

